.container {
    height: calc(100% - 70px);
    margin-top: 70px;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: rgba(25, 21, 46, 0.7);
    border-top: 2px solid #433E71;
    position: relative;

    .content {
        width: 100%;
        height: 100%;
        padding: 0 4%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        overflow-y: auto;

        .el-header {
            .el-input {
                height: 50px;
            }
            .el-button {
                margin-left: 10px;
                padding: 0 50px;
                line-height: 44px;
                background-color: #403a6d;
                border: 0;
                font-size: 20px;
                color: #cec8ff;
                &:hover {
                    background-color: #5D5898;
                }
            }
        }
        .table {
            height: calc(100% - 120px);
            .body-table {
                height: 100%;
                min-height: 150px;
                overflow-y: auto;
            }
            .el-pagination {
                margin-top: 20px;
            }
        }

        .detail {
            max-height: calc(100% - 70px);
            overflow-y: auto;
            .tx-list {
                height: 100%;
                background-color: rgba(32, 28, 68, 0.6);
                box-shadow: 0px 18px 43px 0px rgba(25, 21, 46, 0.07);
                border-radius: 2px;
                border: solid 1px #322d5d;
                p {                        
                    text-align: center;
                    font-size: 18px;
                    color: #d3ceff;
                    line-height: 40px;
                }
                .row {
                    line-height: 38px;
                    min-height: 38px;
                    .key {
                        font-size: 16px;
                        color: #cec8ff;
                        text-align: right;
                        padding-right: 40px;
                        background-color: rgba(58, 52, 106, 0.1);
                        box-shadow: 1px 0px 0px 0px rgba(57, 53, 102, 0.35);
                    }
                    .value {
                        word-break:break-all;
                        word-wrap:break-word; 
                        padding-left:40px;
                        font-size: 14px;
                        color: #8490c5;
                    }
                }
            }
        }
    }

    .el-table::before {
        height: 0; //勿删
    }
}