/**  全局变量   **/

$bg_black: #202020;
$title_black: #333;

$orange: #ff8901;
$blue: #0cb5f6;
$purple: #c95fff;
$font_color: #666;

$ph_color: #c6e0ff; //placeholder
$white: #fff;
$black: #000;
$bg_gray: #f2f2f2;
$segment: #cccccc;

$BaseC: $font_color;
$LinkC: $font_color;
$HoverC: #4DAD95;

$border_color: #322d5d;
$outside_border_color: #524c91;
$inner_border_color: #2F2A5A;

