@charset "utf-8";

$bg_black: #202020;
$title_black:#333;

$orange: #ff8901;
$blue: #0cb5f6;
$purple: #c95fff;
$font_color: #666;

$ph_color: #999;
$white: #fff;
$black: #000;
$bg_gray: #f2f2f2;
$segment: #cccccc;

$BaseC: $font_color;
$LinkC: $font_color;
$HoverC: #4DAD95;

